<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
      </tr>
    <% end %>
  </table>

</div>
